@charset "utf-8";

body {
color: black;
background: white;
}

h1 {
    font-weight:bold;
    font-size:26px;
    font-family: Georgia,serif;
    padding:30px 0 10px 50px;
}

/********** display person **********************/
.contact{
    padding-left: 40px;
    width: 100%
}
.contact div{
    font-size: 16px;
    padding-left: 10px;
}
.contact1 p{
    padding-bottom: 11px;
}
.contact textarea{
    font-size: 14px;
    height:6pc;
    width: 20pc;
    word-wrap:break-word;
}

.contact th{
    text-align: right;
}
.contact td{
    vertical-align: top;
}
#etable{
    padding-left: 0;
}
#etable td {
    padding-bottom: 15px;
}
#etable input, textarea{
    border-style: none;
    background-color: #e6e6fa;
}



/************* display requests ***************************/
.middleware textarea{
    height: 10pc;
    width: 400px;
    vertical-align: top;
}

.middleware table, tr {
    vertical-align: top;
    width: 100%;
}

.middleware{
    margin-bottom: 10px;
    margin-left:5px;
}

.middleware th{
    font-weight: bolder;
    background-color: #b0c4de;
}

/********** footer ************/
.footer{
    padding: 0 50px 30px 50px;
}

/************ links on the top *********************/

.toplinks{
    position: relative;
    top: -60px;
    left: 600px;
}

.auth{
    padding-left: 40px;
    padding-bottom: 20px;
}

/*********** Edit Form*****************/

#loading{
        position: absolute;
        top: 20%;
        left: 45%;
        display: none;
}

.errorlist{
    font-size: 12px;
    color: red;
}

.datetimeshortcuts{
    font-size: 13px;

}
#persform{
    padding-left: 30px;
}