@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}

h1 {
    font-weight:bold;
    font-size:26px;
    font-family: Georgia,serif;
    padding:50px 0 40px 50px;
}

.contact div{
    float: left;
    font-size: 16px;
    padding-left: 20px;
}
.contact{
    padding-left: 20px;
}

.contact p{
    padding-bottom: 11px;
}
.contact1 p{
    padding-bottom: 20px;
}

.contact textarea{
    height:6pc;
    width: 20pc;
    word-wrap:break-word;
}

.middleware textarea{
    height: 10pc;
    width: 400px;
    vertical-align: top;
}

.middleware table, tr {
    vertical-align: top;
    width: 100%;
}

.middleware{
    margin-bottom: 10px;
    margin-left:5px;
}

.middleware th{
    font-weight: bolder;
    background-color: #b0c4de;
}
