{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="contact">
<form  action="" name="update" method="POST">{% csrf_token %}

        <table id="etable" width="100%">
            <tr>
                <td>
                    <table>{{ person_form.as_table }}</table>
                    <span class="errorlist">
                        {{ person_form.save_error }}
                    </span>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table>{{ contact_form.as_table }}</table>
                    <span class="errorlist">
                        {{ contact_form.save_error }}
                    </span>
                </td>
            </tr>

                      

        </table>
        <button class="butt" type="submit" name="sub">{% trans "Save" %}</button>
        <a href="/">{% trans "Cancel" %}</a>

     </form>
</div>
<br>

{% endblock %}



